.TeamTitle {
  font-size: 1.125rem;
  font-weight: bold;
  padding-bottom: 0px;
}

.signaling-list {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  border-bottom: 1px dashed lightgrey;
}
